---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Anushiya K"
	  position="AWS Certified Cloud Practitioner"
	  aboutMe="{I am a persistent and growth-oriented cloud and AI technologist with a passion for building, deploying, and optimizing intelligent systems. My expertise spans AWS cloud infrastructure, AI agent development, and cost-efficient architecture design, with hands-on experience in troubleshooting complex technical challenges and adapting quickly to evolving ecosystems.
	  }"
	  linkedin="www.linkedin.com/in/anushiya-krishnaveni-64aa49210"
	  github="https://github.com/anushiyakrishnaveni-stack"
	  cvLink="C:\Users\Admin\OneDrive\Desktop\AWS Re-Start\professional-card-astro\public\files\resume-cv.pdf"
	  profileImage="C:\Users\Admin\OneDrive\Desktop\AWS Re-Start\professional-card-astro\public\images\profile2.webp"
</BaseLayout>

<!--
	"Hi there!, I'm Anushiya. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/anushiyakrishnaveni-stack}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->